<a href="https://colab.research.google.com/github/GomesAdhikari/For-loop-experiments/blob/main/for_loop_experiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n = 8
for i in range(n):
    print(' '*i,'*'*(n*2))
    n-=1

 ****************
  **************
   ************
    **********
     ********
      ******
       ****
        **

In [2]:
n = 8
for i in reversed(range(n)):
    print(' '*i,'*'*(n-i))
    n+=1

        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************

In [3]:
n = 8
for i in range(n):
    print(' '*i,'*'*((n*2)-1))
    n-=1

 ***************
  *************
   ***********
    *********
     *******
      *****
       ***
        *

In [4]:
n = 8
for i in reversed(range(n)):
    print(' '*i,'*'*(n-i))
    n+=1
n = 8
for i in range(n):
    print(' '*i,'*'*((n*2)-1))
    n-=1

        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
 ***************
  *************
   ***********
    *********
     *******
      *****
       ***
        *

In [5]:
n = 12
x=n
for i in range(n):
    print(' '*i,'*',' '*(n+(x-2)),'*')
    n-=2

 *                        *
  *                      *
   *                    *
    *                  *
     *                *
      *              *
       *            *
        *          *
         *        *
          *      *
           *    *
            *  *

In [6]:
n = 12
x=n
for i in reversed(range(n)):
    print(' '*i,'*',' '*(n-(i+1)),'*')
    n+=1
n = 12
x=n
for i in range(n):
    print(' '*i,'*',' '*(n+(x-2)),'*')
    n-=2

            *  *
           *    *
          *      *
         *        *
        *          *
       *            *
      *              *
     *                *
    *                  *
   *                    *
  *                      *
 *                        *
 *                        *
  *                      *
   *                    *
    *                  *
     *                *
      *              *
       *            *
        *          *
         *        *
          *      *
           *    *
            *  *

In [7]:
list1 = [1,2,3,4,1,0]
for i in list1:
    print(i)
    if i == 4:
        break
else:
    print('hey')

1
2
3
4

In [8]:
x = int(input('Enter number'))
for i in range(x):
    print('*'*2,end = '')

Enter number2
****

In [10]:
for x in range(0,7,2):
    n = x
    for i in reversed(range(n)):
        print(' '*(i+(x-i)),'*'*(n-i))
        n+=1

   *
   ***
     *
     ***
     *****
     *******
       *
       ***
       *****
       *******
       *********
       ***********